@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Pen Script";
  min-height: 100vh;
  margin: 0px;
}

@media (min-width: 650px) {
  .App {
    /*background-color: black;*/
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  /* padding: 20px;
  font-family: "Nanum Pen Script", cursive;
  font-family: "Yeon Sung", cursive; */
}

.Button {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;

  white-space: nowrap;
  font-family: "Nanum Pen Script";
}

/* start 헤더영역 css */
header {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
}

header > div {
  display: flex;
}

header .centerText {
  width: 93%;
  font-size: 25px;
  justify-content: center;
}

header .leftImg {
  justify-content: start;
}

header .rightImg {
  justify-content: end;
}

/* end 헤더영역 css */

.ListItem_area {
  display: flex;
  flex-flow: row wrap;
}

img {
  object-fit: cover;
}

/* ListTemplate 영역*/

.DiaryList .menu_wrapper {
  margin-top: 20px;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.DiaryList .menu_wrapper .right_col {
  flex-grow: 1;
}

.DiaryList .menu_wrapper .right_col button {
  width: 100%;
}

.DiaryList .FncMemu {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  cursor: pointer;
  font-family: Nanum Pen Script;
  font-size: 18px;
}

/* start ListItem 영역 */

.ListItem {
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  border-bottom: 1px solid #e2e2e2;
}

.ListItem .img_wrapper {
  cursor: pointer;
  border-radius: 5px;
  /*width: 200px;
  height: 200px;*/
  border: 1px solid #c3c3c3;
  display: -webkit-flex;
  -webkit-flex-direction: row-reverse;
  display: flex;
  flex-direction: row;
}

.ListItem .img_wrapper img {
  width: 200px;
  height: 200px;
  float: left;
}

.ListItem .info_wrapper {
  flex-grow: 1;
  margin-left: 20px;
  cursor: pointer;
}

.ListItem .diary_date {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

.ListItem .diary_content_preview {
  font-size: 18px;
}

/* text 요소 가운데 정렬 */

.text_area {
  text-align: center;
}

.menu_col {
  height: 10%;
  display: flex;
}

.img_item {
  cursor: pointer;
  margin: 0px 60px 0px 60px;
}

/* item detail  */
.selectItem_area {
  margin-left: 100px;
}

/* EditTemplate area */

.file_area section {
  height: 450px;
  border: 1px solid black;
  margin-bottom: 40px;
  width: 100%;
  display: inline-block;
  justify-content: center;
  position: relative;
}

.edit_area textarea {
  font-family: Nanum Pen Script;
  font-size: 20px;

  box-sizing: border-box;
  width: 100%;
  min-height: 300px;
  resize: vertical;

  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding: 20px;
}
/*
.file_area {
  position: relative;
  width: 600px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
 background: #aaa;
} */

.img_area {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#btnFileUpload {
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 20px;
  white-space: nowrap;
}

/* EnrollTemplate start*/
.enroll_area textarea {
  font-family: Nanum Pen Script;
  font-size: 20px;

  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  resize: vertical;

  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding: 20px;
}
